<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154905673298-ssadvk4jj0qegs0dvtbd03lk911au5kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154905673298-ssadvk4jj0qegs0dvtbd03lk911au5kv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154905673298-cqg187dcutam1229ksaafvv6ct4pod33.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrzXVff2NFocJdPwtn3fLyTR8vLkZpJQE</string>
	<key>GCM_SENDER_ID</key>
	<string>154905673298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanooot.app</string>
	<key>PROJECT_ID</key>
	<string>hanooot-app-web</string>
	<key>STORAGE_BUCKET</key>
	<string>hanooot-app-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154905673298:ios:f6160fb5a8cb4b72a5a98b</string>
</dict>
</plist>